.gifs-container {
  display: flex;
  justify-content: center;
  /* background-color: #1a1a1a; */
  /* background-color: #313131; */
}

.gifs-innercontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.gif-card {
  /* border: 1px solid green; */
  margin: 10px;
}
