.gifs-container {
  /* display: flex;
  justify-content: center; */
}

.gifs-innercontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.gif-card {
  margin: 10px 10px 25px;
}

/*========== when you hover over a gif========= */
.gif-hover-container {
  width: 200px;
  height: 40px;
}

.gif-hover-container .gif-title {
  color: rgba(51, 51, 51, 0.7);
  margin: 5px 10px 0;
  font-family: "Roboto";
  font-size: 0.8rem;
  text-align: left;
  text-transform: uppercase;
}

.gif-hover-container .gif-link p {
  color: #ff1fcb;
  margin: 5px 10px;
  font-family: "Roboto";
  font-size: 0.8rem;
  text-align: left;
  text-transform: lowercase;
}

.gif-hover-container .gif-link p:hover {
  cursor: pointer;
  color: #d21fff;
}

.moregifs-container {
  /* border: 100%; */
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto 80px;
  width: 400px;
}

.moregifs-button {
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 100%;
  padding: 3px 15px 8.7px;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #ff1fcb;
  color: #fff;
  transition: all 0.3s;
}

.moregifs-button:last-child {
  padding: 3px 18px 8.7px;
}

.moregifs-button:hover {
  background-color: #d21fff;
  cursor: pointer;
  box-shadow: 5px 8px 8px #7a7a7a63;
}

@media (max-width: 500px) {
  .gifs-container {
    margin-top: 10px;
  }

  .moregifs-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    width: 100%;
  }
}
