.gif-view-card {
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.gif-view-card .gif-view-item {
  display: flex;
  justify-content: center;
  height: 400px;
  border: 0.5px solid black;
  margin: 0 30px;
  box-shadow: 5px 10px 10px #7777776e;
  border-radius: 3px;
}

.gif-view-card .gif-view-item:last-child {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gif-view-item .gif-view-title {
  padding: 20px 40px 0;
  color: black;
  font-family: "Roboto";
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 3rem;
}

.gif-view-item .gif-view-url {
  text-decoration: none;
  font-family: "Roboto";
  padding: 5px 40px 0;
  color: #c917c9c0;
  font-size: 1.2rem;
}

.gif-view-item .gif-view-username {
  color: #777777d3;
  padding: 0 40px;
  font-family: "Roboto";
  text-align: right;
  font-size: 1.2rem;
}

.gif-view-item .gif-view-rating {
  color: #777777d3;
  padding: 0 40px 20px;
  font-family: "Roboto";
  margin: 0;
  text-align: right;
  font-size: 1.2rem;
}

/* =================== bottom link ==================== */
.link-container {
  /* border: 1px solid red; */
  margin: 60px 30px 80px;
  display: flex;
  justify-content: flex-end;
}

.gif-view-link {
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #ff1fcb;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}

.gif-view-link:hover {
  box-shadow: 5px 8px 8px #7a7a7a63;
  background-color: #d21fff;
}
