.searchbar-container {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.searchbar-container .search-input {
  height: 2rem;
  width: 400px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  background-image: linear-gradient(to right, #ca14a0, #f3142c);
  margin-right: 20px;
  font-size: 1rem;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 0.5px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.searchbar-container .search-button {
  border-radius: 50px;
  border: none;
  background-color: #f3142c;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  padding: 8px 20px;
  transition: all 0.3s;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.9);
}

.searchbar-container .search-button:hover {
  cursor: pointer;
  background-color: #ff1fcb;
}
