.navbar-container {
  background-color: #1a1a1a;
  z-index: 300;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-container .navbar-title {
  padding: 5px 30px;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 10px;
  text-transform: lowercase;
  font-family: "Patua One";
}

.searchbar-container {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.searchbar-container .search-input {
  height: 2rem;
  width: 500px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  background-image: linear-gradient(to right, #ca14a0, #f3142c);
  font-size: 1rem;
  font-weight: lighter;
  color: #fff;
  letter-spacing: 0.5px;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.75);
}

/* ================= media queries =================== */

@media (max-width: 760px) {
  .navbar-container .navbar-title {
    font-size: 2rem;
    padding-right: 20px;
  }

  .searchbar-container {
    margin-left: 0;
  }

  .searchbar-container .search-input {
    width: 300px;
  }
}

@media (max-width: 530px) {
  .searchbar-container .search-input {
    width: 220px;
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .navbar-container {
    display: flex;
    flex-direction: column;
  }

  .searchbar-container {
    width: 85%;
    padding: 5px 10px 10px;
    margin: 0;
  }

  .searchbar-container .search-input {
    width: 100%;
  }
}
