.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* background-color: #313131; */
  background-color: #1a1a1a;
  z-index: 300;
  position: sticky;
  top: 0;
}

/* .navbar-container .navbar-subtitle {
  padding: 0 5px 0 20px;
  font-size: 1.4rem;
  margin: 0;
  letter-spacing: 1px;
} */

.navbar-container .navbar-title {
  padding: 5px 20px;
  font-size: 3rem;
  margin: 0;
  letter-spacing: 10px;
  text-transform: lowercase;
  font-family: "Patua One";
}
